[submodule "libebml"]
	path = libebml
	url = https://github.com/Matroska-Org/libebml.git
[submodule "libmatroska"]
	path = libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
[submodule "a52codec"]
	path = a52codec
	url = https://github.com/MaddTheSane/a52codec.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/MaddTheSane/FFmpeg.git
[submodule "Sparkle"]
	path = Update Checker Sources/Sparkle
	url = https://github.com/pornel/Sparkle.git
