build
*.DS_Store
Perian.xcodeproj/project.xcworkspace
Perian.xcodeproj/xcshareddata
Perian.xcodeproj/xcuserdata/
UniversalDetector/UniversalDetector.xcodeproj/xcuserdata/
Plists/PerianPaneReal-Info.plist
