<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Perian</string>
	<key>CFBundleGetInfoString</key>
	<string>0.5 (SVNREVISION ffmpeg: FFMPEGREVISION), Copyright 2006 The Perian Team</string>
	<key>CFBundleIconFile</key>
	<string>Perian_icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.perian</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
</dict>
</plist>
