<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>org.perian.Perian</string>
		<key>HumanReadableName</key>
		<string>Perian</string>
		<key>obsoletes</key>
		<array>
			<string>com.theoryllc.FLVComponentBundle</string>
			<string>com.DivXInc.DivXDecoder</string>
			<string>com.insaneness.XVIDDelegate</string>
			<string>org.perian.No.Bundle.ID.OpenDivX</string>
			<string>net.aldorande.component.FFusion</string>
			<string>com.jamby.ffmpeg</string>
		</array>
	</dict>
</array>
</plist>
