<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AVI movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AVI </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-divx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DivX Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DIVX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
				<string>mka</string>
				<string>webm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-matroska</string>
				<string>audio/x-matroska</string>
				<string>video/webm</string>
				<string>audio/webm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matroska video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MKV </string>
				<string>MKA </string>
				<string>WEBM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-flv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flash video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLV </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nuv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-nuv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NuppelVideo movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NUV </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-tta</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TrueAudio file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TTA </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ac3</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ac3</string>
				<string>audio/x-ac3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AC3 audio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AC3 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC audio</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLAC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis I</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OggS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg video</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OggS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.perian.PerianOpener</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>PerO</string>
	<key>CFBundleGetInfoString</key>
	<string>1.3 (SVNREVISION ffmpeg: FFMPEGREVISION), copyright 2011 the Perian team</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>OpenerMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska video</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.matroska</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.matroska.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
					<string>mka</string>
					<string>webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Flash video</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.flash-video</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.adobe.com/devnet/flv/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.uti</key>
				<array>
					<string>com.adobe.flash.video</string>
					<string>com.apple.flash-video</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NuppelVideo movie</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.nuppelvideo</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mythtv.org/wiki/NuppelVideo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nuv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TrueAudio file</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.true-audio</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.true-audio.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tta</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AC3 audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.ac3</string>
			<key>UTTypeReferenceURL</key>
			<string>http://wiki.multimedia.cx/index.php?title=AC3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ac3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLAC audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.flac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://flac.sourceforge.net/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Vorbis I</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.ogg</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg video</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.ogv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX video</string>
			<key>UTTypeIdentifier</key>
			<string>org.perian.divx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://divx.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
